*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: whitesmoke;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 40px;
}

h1, h2,p {
  text-align: center;
}
p{
  font-size: 20px;
  font-weight: normal;
}

#photobooth {
  display: flex;
  justify-content: center;
  flex-direction: column;    
}

.canvas{
  display: none;
  
}

.camera {
  display: flex;
  justify-content: center;
  flex-direction: row;    
}

.camera > * {
  margin: 1rem;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;    
}

form > * {
  margin-top: 0.5rem;
}

.voice-control { display: none; }
.voice-control + label {
  background-image: url('../assets/speech.png'); 
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.voice-control:checked + label {
  animation: blink 1.5s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background: #673ab7;
  border-radius: 20px;
  margin: 1rem 5rem;
  padding: 1rem;
  width: 860px;
}

img {
  margin-left: 1rem;
  border: solid 5px wheat;
  border-radius: 5px;
  justify-content: center;
}